
/* Style the header */
header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the body*/
body {
  background-color: forestgreen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #black) on hover */
li a:hover {
  background-color: #111;
}

.vnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lightgreen;
}

.vnav li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.vnav li a:hover {
  background-color: darkgreen;
  color: white;
}

